﻿
.navbar-nav > li a:hover,
.navbar-nav > li a:focus,
.navbar-nav > li a.active,
.navbar-nav > li a:active {
    background: rgba(255, 255, 255, 0.1);
}

.navbar-nav > li > a.profile-image {
    padding: 8px 10px 7px 10px;
    display: table;
}

    .navbar-nav > li > a.profile-image img {
        width: 35px;
        float: right;
    }

    .navbar-nav > li > a.profile-image span {
        float: right;
        margin-top: 7px;
        margin-right: 7px;
        text-transform: capitalize;
    }

    .navbar-nav > li > a.profile-image .img-circle {
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: inline-block;
        float: right;
    }

aside {
    position: absolute;
    top: 50px;
    height: 100%;
}

nav.sidebar {
    width: 230px;
    height: 100%;
    float: left;
    margin-bottom: 0px;
    margin-left: -180px;
    border-radius: 0;
    z-index: 999;
    background-color: #fff;
    position: fixed;
    border: 0 none;
    border-right: 1px solid #e9e9e9;
    padding-top: 20px;
}

    nav.sidebar.open {
        margin-left: 0;
    }

    nav.sidebar ul {
        list-style: none;
        padding: 0;
    }

    nav.sidebar li:first-child {
        border-top: 1px dotted #D9D9D9;
    }

    nav.sidebar ul li ul li:first-child {
        border-top: 0 none;
    }

    nav.sidebar li {
        width: 100%;
        border-bottom: 1px dotted #D9D9D9;
    }

        nav.sidebar li .caret {
            float: right;
            margin-top: 10px;
        }

    nav.sidebar:not(.open) li .caret {
        position: absolute;
        right: 6px;
        opacity: 0.8;
    }

    nav.sidebar a {
        text-decoration: none;
        text-shadow: none;
        cursor: pointer;
    }

    nav.sidebar .navbar-nav > li > a {
        padding-right: 18px;
    }

        nav.sidebar .navbar-nav > li > a:hover {
            padding-left: 20px;
            transition: 0.5s all;
        }

    nav.sidebar .divider {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    nav.sidebar ul li.open > a,
    nav.sidebar ul li.open:hover > a,
    nav.sidebar ul li.open:focus > a,
    nav.sidebar ul li.open:active > a,
    nav.sidebar ul li.open:visited > a,
    nav.sidebar.open ul li.open > a,
    nav.sidebar ul.navbar-nav > li:hover > a {
        background: #71a2c9;
        color: #fff;
    }

    nav.sidebar ul li ul li a {
        padding: 15px 15px 16px 20px;
        display: block;
        transition: 0.5s padding-left;
    }

    nav.sidebar.open ul li ul li a {
        padding-left: 30px;
    }

        nav.sidebar.open ul li ul li a:hover {
            padding-left: 40px;
        }

    nav.sidebar ul li ul li a:hover {
        padding-left: 30px;
        transition: 0.5s padding-left;
    }

    nav.sidebar.open ul li.open ul {
        background: #F1F1F1;
    }

    nav.sidebar ul li ul li:hover > a {
        background: #bbd2e5;
    }

    nav.sidebar ul li a i {
        float: right;
        line-height: 24px;
    }

    nav.sidebar.open ul li a i {
        float: left;
        margin-right: 8px;
        line-height: 21px;
    }

    nav.sidebar.navbar.sidebar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

        nav.sidebar .navbar-nav li ul li:last-child {
            border-bottom: 0 none;
        }

        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 0;
        }

        nav.sidebar .navbar-collapse,
        nav.sidebar .container-fluid {
            padding: 0 0px 0 0px;
        }

        nav.sidebar .navbar-nav li.dropdown ul {
            display: none;
        }

        nav.sidebar.open .navbar-nav li.dropdown.open ul,
        nav.sidebar:not(.open) .navbar-nav li.dropdown:hover ul {
            display: block;
            transition: 2s display;
        }

        nav.sidebar:not(.open) .navbar-nav li.dropdown ul {
            position: absolute;
            top: 50px;
            right: -201px;
            width: 200px;
            background: #fff;
            box-shadow: 1px 1px 1px #888;
        }

        nav.sidebar:not(.open) .navbar-nav li.dropdown a {
            min-height: 50px;
        }

        nav.sidebar:not(.open) .navbar-nav li.dropdown:hover a span.item-text {
            position: absolute;
            top: 0;
            background: #71a2c9;
            right: -201px;
            padding: 15px 15px 15px 21px;
            width: 201px;
            color: #fff;
            box-shadow: 1px 1px 1px #888;
            transition: 0.5s background;
            cursor: default;
        }

nav .navbar-header a {
    padding: 3px 0 0 8px;
    border-right: 1px solid #2472a4;
}

nav.sidebar {
    transition: 0.5s all;
}
