<aside id="aside" ng-show="options.length">
    <nav class="navbar navbar-black sidebar" ng-class="{ 'open': $root.menuOpen }" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in options track by $index" class="dropdown">
                        <a ui-sref="{{item.Itens.length ? '' : item.Descricao}}" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="hidden-xs showopacity {{icons[item.Id]}}"></i>
                            <span class="item-text">{{item.Nome}}</span>
                            <span ng-if="item.Itens.length" class="caret"></span>
                        </a>

                        <ul role="menu" ng-if="item.Itens.length">
                            <li ng-repeat="itemMenu in item.Itens track by $index">
                                <a ui-sref="{{itemMenu.Descricao}}">
                                    {{itemMenu.Nome}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</aside>